# ///////////////////////////////////////////
# / This .rc  is provided and not generated /
# ///////////////////////////////////////////
# /                               gabry3795 /
# ///////////////////////////////////////////

on init
    write /sys/module/block2mtd/parameters/block2mtd /dev/block/mmcblk0p6
    wait /dev/nve0
    chmod 0640 /dev/nve0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor ondemand
    write /sys/kernel/hmp/up_threshold 1020
    write /sys/kernel/hmp/down_threshold 768

# ///////////////////////////////////////////////////////////////////
# / Add the flash_recovery service, so install_recovery.sh          /
# / will be put in /system/bin/ instead of /system/etc as requested /
# / for L+ android versions                                         /
# /                                                                 /
# / Look tool/releasetools/common.py at lines 1556 - 1575           /
# / Look build/core/Makefile at line 1125                           /
# ///////////////////////////////////////////////////////////////////
service flash_recovery /system/bin/install-recovery.sh
     class main
     seclabel u:r:install_recovery:s0
     oneshot
